
.position-header {
    z-index:2;
    position:absolute;
    margin-left:50px;
    margin-top:20px;
}
.map-canvas {
    width: 100%; 
    height: 100%;
    z-index:1;
}
.form-to-fill-contact-holder {
      z-index:2;
     position:absolute;     
     margin-left: 70%;
    width: 30%;
   margin-top: 50px;
 background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 15%, white 87%, rgba(255, 255, 255, 0) 100%);
}