@model BushachFirstSchool.Domain.Entity.Subject

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="col-md-12 shadow-z-2" style="background-color:white">
    <h2>Помилка</h2>
    <p> 
        Вибачте ви зайшли на сторінку предметів не обравши класу до якого ці предмети належать.<br>
        Верніться на сторінку із класати та оберіть який клас вам потрібно
    </p>
</div>