@using BushachFirstSchool.Domain.Entity
@model SchoolClass

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-md-12 shadow-z-2" style="background-color:white">
    <h2>Класи</h2>

    <div class="row">
        @{Html.RenderPartial("_сreate", @Model);}
        <div class="col-md-4 col-md-offset-4">
            @{Html.RenderPartial("_loading");}
        </div>
    </div>
        @Html.Action("getShoolClassData")
    </div>
