@model BushachFirstSchool.Models.TeachersListViewModel


<div id="teacher_div">
    @{Html.RenderPartial("_message_ajax");}       
    <!-----------------------------------------------------------------------
      //Paginations -->   
    <div style="width:100%">   
         <div class="pagination panel ">
        @for (Int32 i = 1; i < Model.PagingInfo.TotalPages + 1; i++)
        {

            if (i == Model.PagingInfo.CurrentPage)
            {

                @Ajax.ActionLink(" ", "GetTeacherData",
                                  new { Page = i },
                                      new AjaxOptions
                                      {
                                          UpdateTargetId = "teacher_div",
                                          Url = Url.Action("GetTeacherData", new { Page = i }),
                                          LoadingElementId = "loading",
                                          LoadingElementDuration = 1000,
                                      }, new
                                      {
                                          @class = "pagination__dot active",
                                          @data_tooltip = "сторінка" + i.ToString()
                                      });
            }
            else
            {
                @Ajax.ActionLink(" ", "GetTeacherData",
                                   new { Page = i },
                                       new AjaxOptions
                                       {
                                           UpdateTargetId = "teacher_div",
                                           Url = Url.Action("GetTeacherData", new { Page = i }),
                                           LoadingElementId = "loading",
                                           LoadingElementDuration = 1000,
                                       }, new
                                       {
                                           @class = "pagination__dot ",
                                           @data_tooltip = "сторінка" + i.ToString()
                                       });
            }

        }



    </div>
    </div>

    
    @{
        Html.RenderPartial("Table", Model.Teachers);
    }
</div>
