@model BushachFirstSchool.Models.PagingInfo

@{
  
   
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "teacher_div",
        Url = Url.Action("GetTeacherData"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    };
}
@{
    ViewBag.Title = "Вчителі";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="center-block">
    <h2>
        Вчителі
    </h2>
    <!---------------------------------------------------
     // Searsh button---->
    @using (Ajax.BeginForm("GetTeacherData", ajaxOpts))
    {
      <div class="row">
          <div class="col-md-3 col-md-offset-8">
              <a class="button small gray left" href="@Url.Action("Create")" data-toggle="tooltip" data-placement="top" title="Додати Нового">
                  <span class="glyphicon glyphicon-plus"></span>
              </a>
              <div class="input-group">
                  <span class="input-group-btn">      
                      <input type="text" class="form-control" placeholder="Пошук..." name="searshParametr">
                      <button class="button small gray right" type="submit">
                          <span class="glyphicon glyphicon-search">
                          </span>
                      </button>
                  </span>
              </div>
          </div>
       </div>
    }
   
    @{Html.RenderPartial("_loading");}
     //Table-->
    @Html.Action("GetTeacherData", new { Page = 1 })
</div>