@model BushachFirstSchool.Models.PagingInfo

@{
    ViewBag.Title = "Вчителі";
   
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "teacher_div",
        Url = Url.Action("Index"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    };
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>
<div id="loading" class="load" style="display: none">
    <p>Loading Data...</p>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Ajax.BeginForm("GetPeopleData", ajaxOpts)) {

   <input type="text" name="searshParametr" />
   <button type="submit">ok</button>
}

@Html.Action("GetTeacherData", new { Page = 1 })