
html {

}

body {
    font-family: 'Lato', sans-serif;
    line-height: 160%;
    //font-size: 100%;
    color: #4d4d4d;
    background: #EEE;
  
   // background-color: #e6e6e6
}



h1,h2,h3 {    
  color:#3B8B87;
  font-weight: 700;
  font-family: cursive;
}




@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.Navigation {
z-index:3;
position:fixed;
width:100%;
top:0;

}
.Navigation nav {
 // max-width: 960px;
  //mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;

}

.Navigation nav ul {
      text-align: center;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0)  0%, 
      rgba(255, 255, 255, 1) 25%,
       rgba(255, 255, 255, 0.94) 75%, 
       rgba(255, 255, 255, 0) 100%);
      
    }

    .Navigation nav ul li {
          display: inline-block;
        }

        .Navigation nav ul li a {
              padding: 18px;
              font-family: "Open Sans";
              text-transform:uppercase;
              color: rgba(0, 35, 122, 0.5);
              font-size: 18px;
              text-decoration: none;
              display: block;
            }

      .Navigation nav ul li a:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
          background: rgba(255, 255, 255, 0.1);
          color: rgba(0, 35, 122, 0.7);
        }

/*****log menu********************/
#logmenunavigator{
	width: 250px;
	height:100%;
	position: fixed;
	top: 0;
	left: -250px;
	background: rgba(0, 149, 135, 0.65);
	float: left;
	z-index: 10;
}
    #logmenunavigator h3 {
        color:white;
    }
#logmenunav{
	width: 250px;
	height: auto;
	display: block;
	margin: 0 ;
	padding: 0;
}
.nav_tab{
	width: 250px;
	height: 50px;
	display: block;
}
.nav_tab a p{
	color: rgba(255,255,255,0.8);
	font-size: 18px;
	padding: 15px 0;
	text-align: center;
	transition:0.35s ease;
	-webkit-transition:0.35s ease;
	-moz-transition:0.35s ease;
}
.nav_tab a p:hover{
	background: rgba(255,255,255,0.9);
	color: rgba(0,0,0,1);	
	letter-spacing: 2px;
	transition:0.35s ease;
	-webkit-transition:0.35s ease;
	-moz-transition:0.35s ease;
	}
.menu-icon{
	width: 150px;
	height: 35px;
	position: fixed;
	top: 0;
	left: 0px;
	margin: 10px;
	z-index: 10;
}
.menu-text {
	width: 50px;
	height: 35px;
	font-size: 30px; 
	color:#3B8B87;
	display: block;
	position: fixed;
	top: 0;
	left: 50px;
	margin: 10px;
	z-index: 9;
}

.menu-icon div {
  width: 40px;
  height: 5px;
  background: #3B8B87;
  margin: 5px ;
  transition: all 0.35s;
  border-radius: 2px;
}
.on .line_one {transform: rotate(45deg) translate(7px, 7px);}
.on .line_two {opacity: 0;}
.on .line_three {transform: rotate(-45deg) translate(7px, -7px);}


.panel {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 15%, white 85%, rgba(255, 255, 255, 0) 100%);
}


/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
   background-image: linear-gradient(#F21212, #950000), linear-gradient(#D92626, #EF0808);
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
/*******************
    containers
 *******************/
.page-container {
    padding-top:60px;
}
.login-container {
    background-color:white;
}
.mini-panel {

}
.mini-panel:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.appear_top{
    margin-top: -700px;

    /*global*/
    animation-name: appear_top_animations;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    /*webkit*/
    -webkit-animation-name: appear_top_animations;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;

    /*moz*/
    -moz-animation-name: appear_top_animations;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: alternate;
    -moz-animation-fill-mode: forwards;
}

.carusel-test-item {
    min-height:250px;
    padding-top:20px;
}
/***********************
  *    All Form *
     ********************/
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

form.form-to-fill {
  width: 100%;
 // max-width: 380px;
  margin: 10px auto;
  font-size: 15.5px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 25.079px;
  letter-spacing: -0.5px;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  box-shadow: 0px 2px 10px #eee;

}
form.form-to-fill:hover {
  box-shadow: 0px 4px 14px #dddddd, 0px 0px 6px #ffffff;
}
form.form-to-fill h4 {
  text-align: center;
  display: block;
  color: #333;
  padding: 19.375px 19.375px 7.75px;
  font: inherit;
  font-size: 25.079px;
}
form.form-to-fill ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form.form-to-fill ul li {
  padding: 0;
  border-bottom: 1px solid #ddd;
  margin: 0;
  text-align: center;
  width: 100%;
}
form.form-to-fill ul li i.form-icon {
  display: inline-block;
  vertical-align: middle;
  width: 2%;
  text-align: center;
  margin: 0 0.5% 0 1%;
  padding: 0;
  font-size: 16.275px;
  color: #aaa;
}
form.form-to-fill ul li input[type="text"] {
  width: 90%;
  background: none;
  color:black;
  margin: 0;
  padding: 10.33333385px 2%;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-transition: border-bottom 0.35s ease;
  transition: border-bottom 0.35s ease;
}
form.form-to-fill ul li input[type="text"]:focus {
  outline: none;
  border-bottom: 3px solid #f1a6f3;
}
form.form-to-fill ul li input[type="text"]::-webkit-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li input[type="text"]:-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li input[type="text"]::-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li input[type="text"]:-ms-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li input[type="text"]:focus::-webkit-input-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li input[type="text"]:focus:-moz-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li input[type="text"]:focus::-moz-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li input[type="text"]:focus:-ms-input-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li textarea {
  display: inline-block;
  vertical-align: top;
  width: 88%;
  background: none;
  padding: 10.33333385px 2%;
  resize: none;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  text-align: left;
  height: auto;
  min-height: 133px;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  -webkit-transition: border-bottom 0.35s ease;
  transition: border-bottom 0.35s ease;
}
form.form-to-fill ul li textarea:focus {
  outline: none;
  border-bottom: 3px solid #f1a6f3;
}
form.form-to-fill ul li textarea::-webkit-scrollbar {
  width: 4px;
}
form.form-to-fill ul li textarea::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 2px;
}
form.form-to-fill ul li textarea::-webkit-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li textarea:-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li textarea::-moz-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li textarea:-ms-input-placeholder {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  color: #cccccc;
}
form.form-to-fill ul li textarea:focus::-webkit-input-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li textarea:focus:-moz-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li textarea:focus::-moz-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li textarea:focus:-ms-input-placeholder {
  color: #f1a6f3;
}
form.form-to-fill ul li input[type="submit"] {
  margin: 15px auto 15px;
  padding: 10.33333385px 19.375px;
  border: 1px solid #d0d0d0;
  display: inline-block;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  -webkit-transition: background border 0.35s ease;
  transition: background border 0.35s ease;
}
form.form-to-fill ul li input[type="submit"]:focus {
  outline: none;
  border: 1px solid #f1a6f3;
}
form.form-to-fill ul li input[type="submit"]:hover {
  background: #eaeaea;
  border: 1px solid #f1a6f3;
}
form.form-to-fill ul li input[type="submit"]:active {
  background: #d0d0d0;
}


.login-partial {
    position:fixed;
    top:0px;
    right:0px;
    width:250px;
}
.list {
  text-align: center;
}

.list a {
  color: #07b;
  text-decoration: none;
}
.list h1 {
	margin: 0;
	padding: 10px 15px;
	background-color: #F4FDF9;
	border-bottom: 1px solid #989077;
	color: black;
	
	font-size: 16px;
 text-align: left;
}

.list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
 text-align: left;
}

.list li {
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
}
.list li:hover {
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
       background-color: #f9f9f9;
}

    /* Main page style
    ----------------------------------------------------------*/
.backroung-canvas {
position: fixed;
width: 100%;
height: 100%;
}
.logo-holder {
   width:100%;
   height:700px;
   margin-top: -20px;
}
.logo-holder-1 {
   width:100%;
   height:350px;
   background-color: rgb(39, 139, 246);
}
.logo-holder-2 {
   width:100%;
   height:370px;
     background-color:rgb(235, 231, 95);

}
.logo-title {   
    position:absolute;
    width:50%;
    -webkit-animation-name: show;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
}

.logo-title h1 {
  font-size: 3.5em;
  color: 'Cabin Sketch', serif;  
}

 .history-holder {
    background-color:#e6e6e6;
    width:100%;
}
  .team-holder {
      padding-top: 20px;
    background-color:rgba(255, 255, 255, 1);
    width:100%;
}
.news-holder {
      padding-top: 20px;
    background-color:rgba(255, 255, 255, 1);
    width:100%;
    height:400px;
    color:white;
}
.position-holder {
      margin-top: -20px;
    background-color:rgba(255, 255, 255, 1);
    width:100%;
    height:700px;
    color:white;
}

.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}
 /*******************
   animations frames
*******************/
@-webkit-keyframes show {
    0% {
        margin-top:-0px;
        opacity:0.0;
    }      
    100% {
          margin-top:200px;
          opacity:1;
    }
}

@keyframes appear_top_animations{
0% {
    margin-top: -700px;
}
100% {
    margin-top: inherit;
    }
}
@-webkit-keyframes appear_top_animations{
    0% {
        margin-top: -700px;
    }
    100% {
        margin-top: inherit;
    }
}
@-moz-keyframes appear_top_animations{
    0% {
        margin-top: -700px;
    }
    100% {
        margin-top: inherit;
    }
}