<div id="historysection" class="history-holder">
    <h1>Історія</h1>



    <div class="timeline group">

        <div class="item">
            <h2>1904-1905</h2>
            <p>Збудоване приміщення школи було в 1904-1905 роках. Ось які згадки в книзі «Бучаччина»: «За Палацовим мостом містився двоповерховий великий будинок семиклясової жіночої школи. Там також була приватна жіноча учительська семінарія». Навчання проводилося на українською мовою.</p>
        </div>

        <div class="item">
            <h2>1920</h2>
            <p>У 1920 році тут була жіноча школа імені королеви Ядвіги. Навчання проводилося на польською мовою, але були уроки й української мови. У школі було 11 класних кімнат, кілька адміністративних та побутових приміщень.</p>
        </div>

        <div class="item">
            <h2>1938 </h2>
            <p>За згадуванням пана Вілі з Ізраїлю у 1938 році в цю школу перевели школярів з «колійової» школи.Навчалися учні з 1 по 7 клас.</p>
        </div>

        <div class="item">
            <h2>1941 </h2>
            <p>В 1941 році, коли була Німецька окупація, тут були німецькі склади.Коли німці залишили Бучач, склади, а також шпиталь згоріли.Жителі Бучача дуже жалкували, що згоріли школа та гімназія.

        </div>

        <div class="item">
            <h2>1946-1991</h2>
            <p>Після війни відбудували приміщення і тут була школа механізації, яку згодом перейменували на СПТУ – 26</p>
        </div>

        <div class="item">
            <h2>1991</h2>
            <p>З 1991 року в цьому приміщенні відкривається Бучацька загальноосвітня школа № 3 І-ІІІ ступенів, яка згодом стала школою № 1</p>
        </div>



    </div>


</div>