<div id="logosection" class="logo-holder">
    <div class ="logo-holder-1">
        <div class="logo-title">
            <h1>Бучацька зазальноосвітня школа №1</h1>
        </div>
    </div>         
    <div class="logo-holder-2">

    </div>
     <div class="logotype-holder">
            <div class="logotype active">
                <div class="square square-1"></div>
                <div class="square square-2"></div>
                <div class="square square-3"></div>
                <div class="square square-4"></div>
                <div class="square square-5"></div>
                <div class="square square-6"></div>
                <div class="circle">
                    <h1>Hover me...</h1>
                    <h2>Inspired by this <a href="https://play.google.com/store/apps/details?id=com.joko.minimapro" target="_blank" rel="nofollow">app</a></h2>
                </div>
            </div>
        </div>

    
      
 
</div>

