@model IEnumerable<BushachFirstSchool.Domain.Entity.News>
<div class="news-holder" id="news">
    <div class="news-title">
        <h1>Наші новини</h1>
    </div>
    <div id="header-carousel" class="carousel slide" data-ride="header-carousel-ride">

        <div class="carousel-inner">
           
           @foreach (var item in @Model) 
           {  
             <div class="item" style="background-image: url('@Url.Action("GetImage", "Foto", new
                                                                { Id = item.Fotos.FirstOrDefault().FotoId}
                                                                )');">
                <div class="title">@item.Title</div>
                <div class="text">@item.Description.ToString().Substring(0, item.Description.ToString().Length > 200 ? 200 : item.Description.ToString().Length)...</div>
                 <a href="/News"><div class="more">Більше</div></a>
            </div>
           }
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#header-carousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-3x"></i>
        </a>
        <a class="right carousel-control" href="#header-carousel" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-3x"></i>
        </a>
    </div>
</div>