@model BushachFirstSchool.Domain.Entity.News
<div class="panel ">
    <div class="page-header">
        <h2>@Model.Title</h2>
    </div>
    @{
        Html.RenderPartial("FotoCarousel",
          new BushachFirstSchool.Models.Entitys.ForoCarousel
          {
              Foto = @Model.Fotos,
              CuralesId = @Model.NewsId.ToString().Substring(0, 8)
          });
    }

    <div class="news-description">
        <p>@Model.Description</p>
    </div>
</div>
