@{
    ViewBag.Title = "Помилка";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="col-md-10 shadow-z-2" style="background-color:white">
    <h2>Помилка</h2>
    <p>
        Вибачте ви зайшли на сторінку учнів не обравши класу до якого ці учні належать.<br>
        Верніться на сторінку із класати та оберіть який клас вам потрібно.
    </p>
</div>