@model BushachFirstSchool.Domain.Entity.Test.TestA

<div class="row">
    <div class="col-lg-12  mini-panel">
        <form id="@Model.concept.ConceptId" class="testA">
            <p>
                Чи відповідає дане твердження: <b>@Model.concept.body</b> визначенню: <span id="@Model.thesis.ThesisId" class="testA_thesis"><i>@Model.thesis.body</i><</span>
            </p>
            <div class="radio radio-success">
                <label>
                    <input type="radio" name="sample1" value="1" ><span class="circle"></span><span class="check"></span>
                    Так
                </label>
            </div>
            <div class="radio radio-success">
                <label>
                    <input type="radio" name="sample1" value="-1"><span class="circle"></span><span class="check"></span>
                    Ні
                </label>
            </div>
        </form>
    </div>
</div>