@model BushachFirstSchool.Models.Test.SingleTestCReloadviewModel
<div class="row">
    <div class="col-lg-12  mini-panel">
        <form id="@Model.TestC.thesis.ThesisId" class="testC">
            <p>
                Ведіть у поле визначення, яке  відповідає даному твердження: <i>@Model.TestC.thesis.body</i>
            </p>

            <input type="text" class="form-control" id=""  value="@Model.AnswerC.answer"/>
        </form>
    </div>
</div>

