@model BushachFirstSchool.Domain.Entity.Test.TestC
<div class="row">
    <div class="col-lg-12  mini-panel">
        <form id="@Model.thesis.ThesisId" class="testC">
            <p>
                Ведіть у поле визначення, яке  відповідає даному твердження: <i>@Model.thesis.body</i>
            </p>

            <input type="text" class="form-control" id="" />
        </form>
    </div>
</div>


